@model DichVu
@using WebDatVe.Hepper
@{ 
    var list = new List<SelectListItem>();
    foreach (var item in ConfigData.DSTrangThaiDichVu)
    {
        list.Add(new SelectListItem { Value = item.Key + "", Text = item.Value });
    }
}
@Html.HiddenFor(x => x.MaDichVu)

<div class="box-body">
    <div class="form-group">
        <label class="col-sm-3 control-label">Tên dịch vụ</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.TenDichVu, new Dictionary<string, object>
            {
                {"class", "form-control"},
                {"required","required" },
                {"maxlength","500" }
            })
            @Html.ValidationMessageFor(x => x.TenDichVu)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Nội dung</label>
        <div class="col-sm-9">
            @Html.TextAreaFor(x => x.NoiDung, new Dictionary<string, object>
            {
                {"class", "form-control"}
            })
            @Html.ValidationMessageFor(x => x.NoiDung)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Giá (VNĐ)</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.GiaTien, new Dictionary<string, object>
            {
                {"class", "form-control"},
                {"required","required" },
                {"type","number"}
            })
            @Html.ValidationMessageFor(x => x.GiaTien)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Trạng thái</label>
        <div class="col-sm-9">
            @Html.DropDownListFor(x => x.TrangThai, list, new Dictionary<string, object>
            {
                {"class", "form-control"},
                {"required","required" },
            })
            @Html.ValidationMessageFor(x => x.TrangThai)
        </div>
    </div>   
    <div class="form-group">
        <label class="col-sm-3 control-label">Hình ảnh</label>
        <div class="col-sm-7">
            @Html.TextBoxFor(x => x.HinhAnh, new Dictionary<string, object>
            {
                {"class", "form-control"},
                {"required","required" },
                {"maxlength","500" }
            })
            @Html.ValidationMessageFor(x => x.HinhAnh)
        </div>
        <div class="col-sm-2">
            <a class="btn btn-info" id="btnImg">Tải ảnh lên</a>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
            <img src="@Model.HinhAnh" width="150" id="imgAnh" />
        </div>
    </div>
</div>
