@model List<Phim>
@using WebDatVe.Hepper
@{
    ViewBag.Title = "Danh sách Phim";
    ViewBag.Controller = "Phim";
    ViewBag.General = "active";
    ViewBag.Phim = "active";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Id = "view-null";

    var db = new WebDatVePhimEntities();
    var list = new List<SelectListItem>() { new SelectListItem { Value = "0", Text = "--Chọn Thể Loại--" } };
    foreach (var item in db.TheLoais.ToList())
    {
        list.Add(new SelectListItem { Value = item.MaTheLoai + "", Text = item.TenTheLoai });
    }

    var listTT = new List<SelectListItem>() { new SelectListItem { Value = "0", Text = "--Chọn Trạng Thái--" } };
    foreach (var item in ConfigData.DSTrangThaiPhim)
    {
        listTT.Add(new SelectListItem { Value = item.Key + "", Text = item.Value });
    }
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <form action="@Request.Url.AbsolutePath">
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="keyword" placeholder="Từ khóa" value="@ViewBag.TextSearch">
                        </div>
                        <div class="col-sm-2">
                            @Html.DropDownList("maTheLoai", list, new Dictionary<string, object>
                            {
                                {"class", "form-control"},
                                {"value", ViewBag.MaTheLoai }
                            })
                        </div>
                        <div class="col-sm-2">
                            @Html.DropDownList("maTrangThai", listTT, new Dictionary<string, object>
                            {
                                {"class", "form-control"},
                                {"value", ViewBag.MaTrangThai }
                            })
                        </div>
                        <div class="col-sm-5">
                            <button class="btn btn-primary">Tìm kiếm</button>
                            <a href="@Url.Action("Add")" class="btn btn-success">Thêm</a>
                        </div>
                    </div>
                </form>
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Hình ảnh</th>
                            <th>Tên phim</th>
                            <th>Thể loại</th>
                            <th>Ngày khởi chiếu</th>
                            <th>Trạng thái</th>
                            <th>Ngày tạo</th>
                            <th class="w100">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img src="@item.HinhAnh" width="100" />
                                </td>
                                <td>@item.TenPhim</td>
                                <td>
                                    @foreach(var tl in item.TheLoais.ToList())
                                    {
                                        <label class="label label-default">@tl.TenTheLoai</label>
                                    }
                                </td>
                                <td>@item.NgayKhoiChieu.ToString("dd-MM-yyyy")</td>
                                <td>
                                    @foreach (var tt in ConfigData.DSTrangThaiPhim)
                                    {
                                        if (item.TrangThai == tt.Key)
                                        {
                                            if (tt.Key == (int)TrangThaiPhim.SapChieu)
                                            {
                                                <label class="label label-info">@tt.Value</label>
                                            }
                                            else if (tt.Key == (int)TrangThaiPhim.DangChieu)
                                            {
                                                <label class="label label-success">@tt.Value</label>
                                            }
                                            else if (tt.Key == (int)TrangThaiPhim.NgungChieu)
                                            {
                                                <label class="label label-default">@tt.Value</label>
                                            }
                                        }
                                    }
                                </td>
                                <td>@item.NgayTao.ToString("dd-MM-yyyy")</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { Id = item.MaPhim })" class="btn btn-info btn-sm">Sửa</a>
                                    <a href="@Url.Action("Delete", new { Id = item.MaPhim })" onclick="return confirm('Bạn chắc chắn muốn xóa mục đã chọn?')" class="btn btn-danger btn-sm">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
